@model IEnumerable<HomeWork1.Models.Restaurant>
@{
    ViewBag.Title = "Рестораны";
}
<h1>Рестораны</h1>

<div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Название ресторана</th>
                <th scope="col">Владелец ресторана</th>
                <th scope="col">Страна</th>
            </tr>
        </thead>
        <tbody>
            @foreach (HomeWork1.Models.Restaurant item in Model)
            {
                <tr>
                    <td scope="row">@item.Name</td>
                    <td scope="row">@item.Owner</td>
                    <td scope="row">@item.Country.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>